* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #141414;
    color: hsl(0, 0%, 100%);
}

.container {
    width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f1f1f;
    align-items: center;
    border-radius: 10px;
}

img {
    width: 88px;
    border-radius: 50%;
    margin-top: 2.5em;
    margin-bottom: 2em;
}

h1 {
    margin-bottom: 0.6em;
    font-size: 1.5rem;
}

.location {
    color: #c4f82a;
    font-weight: bold;
    margin-bottom: 2em;
}

.description {
    font-size: 0.875rem;
    margin-bottom: 1.9em;
}

button {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    width: 304px;
    height: 45px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.7em 0;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border: none;
}

button:last-child {
    margin-bottom: 2.5em;
}

button:hover,
button:focus {
    background-color: #c4f82a;
    cursor: pointer;
    color: black;
}
