:root {
    --dark-bg-color: hsl(0, 0%, 8%);
    --light-bg-color: hsl(0, 0%, 20%);
    --container-background: #1f1f1f;
    --btn-color: hsl(0, 0%, 8%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h6,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--dark-bg-color);
    color: hsl(0, 0%, 100%);
}

main {
    width: 90%;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-background);
    align-items: center;
    border-radius: 10px;
}

img {
    width: 100%;
    max-width: 5.5em;
    height: auto;
    border-radius: 50%;
    margin-block-start: clamp(1.5em, 2vw + 1em, 3em);
    margin-block-end: clamp(1em, 2vw, 2em);
}

h1 {
    margin-bottom: 0.6em;
    font-size: 1.5rem;
}

.location {
    color: #c4f82a;
    font-weight: bold;
    margin-bottom: 2em;
}

.description {
    font-size: 0.875rem;
    margin-bottom: 1.9em;
}

button {
    color: white;
    background-color: var(--light-bg-color);
    padding: 1em 1.5em;
    width: 80%;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1.3em;
    border-radius: 0.5em;
    border: none;
}

button:last-child {
    margin-bottom: 2.5em;
}

button:hover,
button:focus {
    background-color: #c4f82a;
    cursor: pointer;
    color: black;
}
